VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# VITE_IMAGEKIT_PUBLIC_KEY=
# VITE_IMAGEKIT_URL_ENDPOINT=
# VITE_IMAGEKIT_AUTH_ENDPOINT=https://us-central1-<your-project-id>.cloudfunctions.net/imagekitAuth
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=bazarbase_unsigned

VITE_ADMIN_ID=admin
VITE_ADMIN_PASSWORD=bazarbase123

VITE_WHATSAPP_NUMBER=918299138080

VITE_RAZORPAY_KEY_ID=